@import url(https://fonts.googleapis.com/css?family=Amatic+SC);
@import url(https://fonts.googleapis.com/css?family=Jura);
body, html {
  height: 100%;
  width: 100%;
  background-color: #edb2ff;
  text-align: center;
  justify-content: center;
  margin: 0px;
}

a {
  text-decoration: none;
  color: #00a1ff;
}

button {
  color: #dfafff;
  background-color: #426ef4;
  border-color: #426ef4;
  padding: 4px;
  border-radius: 100px;
  margin: 2px;
}

button:hover {
  color: #426ef4;
  background-color: #dfafff;
  border-color: #dfafff;
  font-family: "Open Sans Condensed";
  font-weight: bold;
}

h1:hover {
  color: #af7e44;
  background-color: #3683f7;
  font-family: "ZCOOL XiaoWei";
}

.Neil {
  color: purple;
  padding: 20px;
  background-color: #0059ff;
  border-radius: 100px;
}

.Neil:hover {
  color: #0059ff;
  background-color: purple;
}

.Renata {
  color: #ff007f;
  padding: 20px;
  background-color: #002aff;
  border-radius: 100px;
}

.Renata:hover {
  color: #002aff;
  background-color: #ff007f;
}

.Carlos {
  color: #058e0a;
  padding: 20px;
  background-color: #0400f9;
  border-radius: 100px;
}

.Carlos:hover {
  color: #0400f9;
  background-color: #058e0a;
}

.Sequoia {
  color: red;
}

.ADVISORIESSSS {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  background-color: #4286f4;
  border-radius: 100px;
}

.ADVISORIESSSS:hover {
  color: #ffee00;
  background-color: #ffee00;
}

.Crazy {
  color: black;
}

.TopBorder {
  background-color: #af7e44;
  color: #3683f7;
  font-family: "Amatic SC";
  padding: 100px;
  border-radius: 100px;
}

h3 {
  text-align: start;
  font-family: Jura;
}

.Hostage {
  float: left;
}

.HostageLyrics {
  display: none;
  position: absolute;
}

.dropdown {
  display: inline-block;
  float: left;
}

.HostageLyrics {
  font-family: "Lobster Two";
}

.dropdown:hover .HostageLyrics {
  display: block;
}

.Billie_Eilish {
  display: inline-block;
  width: 100%;
}
